<!DOCTYPE html>
<html lang = "en">
   
    <head>
		  <meta charset = "utf-8">
		  <meta http-equiv = "X-UA-Compatible" content = "IE = edge">
		  <meta name = "viewport" content = "width = device-width, initial-scale = 1">
		  
		  <title>Postpal</title>
		  
		  <!-- Bootstrap -->
		  <link href = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel = "stylesheet">
		  
		  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		  
		  <!--[if lt IE 9]>
		  <script src = "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		  <script src = "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		  <![endif]-->
  
   </head>
   
   <body>
      	<h1>Rejoignez les 7 millions de Français qui nous font confiance.</h1>
      

		<div class="container">

		    <div class="row">
	    		<div class="col-sm-3">
			      	<h3>La sécurité avant tout</h3>
			      	<p>Pour vous protéger contre la fraude bancaire, nous utilisons les meilleures méthodes de cryptage disponibles sur le marché. En cas de problème, vos achats éligibles peuvent être remboursés par notre <a href="https://www.google.com">Protection des Achats</a>. Et si votre achat ne vous plaît pas, nous pouvons également <a href="https://www.google.com">rembourser vos frais de retour.</a></p>
			      	<a href="https://www.google.com">En savoir plus</a>
			    </div>
			    <div class="col-sm-3">
			      	<h3>Pratique et rapide</h3>
			      	<p>Avec PayPal, plus besoin de saisir vos informations de carte à chacun de vos achats. Et vous pouvez activer One TouchTM pour payer encore plus vite. Envoyez aussi de l’argent à vos proches gratuitement* et en quelques secondes.</p>
			      	<a href="https://www.google.com">En savoir plus</a>
			    </div>
			    <div class="col-sm-3">
					<h3>Partout avec vous</h3>
			      	<p>Avec votre compte PayPal, vous pouvez faire des achats sur des millions de sites dans le monde, faire un don à une association caritative ou rembourser vos proches, depuis votre ordinateur, tablette ou smartphone.</p>
			      	<a href="https://www.google.com">Téléchargez l'application</a>	
			    </div>
			    <div class="col-sm-3">
					<h3>Pas de frais cachés</h3>
			      	<p>L'ouverture d'un compte est gratuite et aucuns frais ne vous seront facturés pour vos achats effectués par PayPal, sauf en cas de conversion de devise. L’envoi d’argent en euros à vos proches est gratuit en France et dans l’Espace économique européen.</p>
			      	<a href="https://www.google.com">Nos tarifs en détail</a>
			    </div>
			 </div>
	    </div>


      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src = "//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
      
   </body>
</html>